/* line 4, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 33, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 51, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

@font-face {
  font-family: SohoGothicRegular;
  src: url("/fonts/SohoGothicStd-Regular.otf");
}

@font-face {
  font-family: SohoGothicBold;
  src: url("/fonts/SohoGothicStd-Bold.otf");
}

@font-face {
  font-family: SohoGothicUltra;
  src: url("/fonts/SohoGothicStd-Ultra.otf");
}

@font-face {
  font-family: SohoRegular;
  src: url("/fonts/SohoStd-Regular.otf");
}

@font-face {
  font-family: SohoBold;
  src: url("/fonts/SohoStd-Bold.otf");
}

/* line 29, ../../app/assets/stylesheets/partials/_app.scss */
.banner {
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  *zoom: 1;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 2em;
}
/* line 34, ../../app/assets/stylesheets/partials/_app.scss */
.banner .dataPaneTitle {
  font-family: "SohoGothicRegular";
  float: left;
  margin-left: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 41, ../../app/assets/stylesheets/partials/_app.scss */
.banner .logoText {
  font-family: "SohoGothicBold";
  float: right;
  margin-right: 20px;
}
/* line 46, ../../app/assets/stylesheets/partials/_app.scss */
.banner .logoText a {
  color: white;
  text-decoration: none;
}
/* line 58, ../../app/assets/stylesheets/partials/_app.scss */
.banner .downArrow {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/downarrow.png?1327243451');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -moz-box-shadow: #dddddd 1px 1px 10px;
  -webkit-box-shadow: #dddddd 1px 1px 10px;
  -o-box-shadow: #dddddd 1px 1px 10px;
  box-shadow: #dddddd 1px 1px 10px;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}
/* line 67, ../../app/assets/stylesheets/partials/_app.scss */
.banner .downArrow:hover {
  -moz-box-shadow: white 1px 2px 10px;
  -webkit-box-shadow: white 1px 2px 10px;
  -o-box-shadow: white 1px 2px 10px;
  box-shadow: white 1px 2px 10px;
}

/* line 73, ../../app/assets/stylesheets/partials/_app.scss */
.hide {
  display: none;
}

/* line 77, ../../app/assets/stylesheets/partials/_app.scss */
.overlay {
  position: absolute;
  top: 60px;
  height: 800px;
  width: 100%;
}
/* line 83, ../../app/assets/stylesheets/partials/_app.scss */
.overlay .bg {
  background: black;
  height: 100%;
  width: 100%;
  opacity: .4;
  z-index: 1;
  position: absolute;
}
/* line 91, ../../app/assets/stylesheets/partials/_app.scss */
.overlay .box {
  z-index: 2;
  position: relative;
  width: 1180px;
}
/* line 96, ../../app/assets/stylesheets/partials/_app.scss */
.overlay .innerWrapper {
  margin: 0 auto;
  width: 1180px;
}
/* line 100, ../../app/assets/stylesheets/partials/_app.scss */
.overlay .front {
  position: absolute;
}

/* line 114, ../../app/assets/stylesheets/partials/_app.scss */
body .container {
  width: 100%;
}
/* line 117, ../../app/assets/stylesheets/partials/_app.scss */
body .box {
  padding: 0px 0;
  margin: 0;
  border-bottom: solid 1px #ccc;
  background: url('../images/flexBoxBg.png?1327243451') repeat-x;
  width: 100%;
  height: 700px;
  overflow: hidden;
  *zoom: 1;
}
/* line 125, ../../app/assets/stylesheets/partials/_app.scss */
body .box .name {
  font-family: "SohoRegular";
}
/* line 130, ../../app/assets/stylesheets/partials/_app.scss */
body .box h1, body .box h2, body .box h3, body .box h4 {
  color: white;
}
/* line 131, ../../app/assets/stylesheets/partials/_app.scss */
body .box.offState {
  background: none;
  cursor: pointer;
}
/* line 134, ../../app/assets/stylesheets/partials/_app.scss */
body .box.offState h1 {
  margin: 34.5px 0 34.5px 30px;
}
/* line 138, ../../app/assets/stylesheets/partials/_app.scss */
body .box h3 {
  font-size: 2em;
  margin: 20px 0 10px 0;
  border-bottom: solid 3px white;
  padding-bottom: 10px;
}
/* line 146, ../../app/assets/stylesheets/partials/_app.scss */
body .box .boxContent {
  color: white;
  float: left;
  width: 800px;
  margin-left: 20px;
}
/* line 153, ../../app/assets/stylesheets/partials/_app.scss */
body .box .boxContent .bio {
  font-family: "SohoRegular";
}
/* line 155, ../../app/assets/stylesheets/partials/_app.scss */
body .box .boxContent .peopleIndex {
  background: url('../images/plane_equal_icon.png?1327243451') no-repeat left top;
  padding-left: 220px;
  width: 100%;
  height: 211px;
  font-size: 6em;
  font-family: SohoGothicRegular, sans;
  margin-bottom: 20px;
}
/* line 165, ../../app/assets/stylesheets/partials/_app.scss */
body .box .boxContent .peopleIndex h4 {
  margin-bottom: 0;
  line-height: 1em;
  font-family: SohoGothicUltra, sans;
}
/* line 175, ../../app/assets/stylesheets/partials/_app.scss */
body .box .datapoints h4 {
  font-family: "SohoGothicRegular";
}
/* line 180, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar {
  float: left;
  height: 665px;
  width: 337px;
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.billgates {
  background-image: url('../images/profile_pics/billgates.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.bobdylan {
  background-image: url('../images/profile_pics/bobdylan.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.jerrybruckheimer {
  background-image: url('../images/profile_pics/jerrybruckheimer.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.johntravolta {
  background-image: url('../images/profile_pics/johntravolta.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.kochbrothers {
  background-image: url('../images/profile_pics/kochbrothers.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.markcuban {
  background-image: url('../images/profile_pics/markcuban.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.michaelbloomberg {
  background-image: url('../images/profile_pics/mikebloomberg.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.morganfreeman {
  background-image: url('../images/profile_pics/morganfreeman.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.oprah {
  background-image: url('../images/profile_pics/oprahwinfrey.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.paulallen {
  background-image: url('../images/profile_pics/paulallen.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.philknightnike {
  background-image: url('../images/profile_pics/philknight.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.rupertmurdoch {
  background-image: url('../images/profile_pics/rupertmurdoch.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.rushlimbaugh {
  background-image: url('../images/profile_pics/rushlimbaugh.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.larrysergey {
  background-image: url('../images/profile_pics/sergeyandlarry.jpg?1327243451');
}
/* line 189, ../../app/assets/stylesheets/partials/_app.scss */
body .box .sidebar.stevejobs {
  background-image: url('../images/profile_pics/stevejobs.jpg?1327243451');
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-1 {
  background-color: black;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-1:hover {
  background-color: #1a1a1a;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-2 {
  background-color: #6bb34d;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-2:hover {
  background-color: #89c271;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-3 {
  background-color: #595a5c;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-3:hover {
  background-color: #727376;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-4 {
  background-color: #bc2026;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-4:hover {
  background-color: #dc3339;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-5 {
  background-color: #3398d4;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-5:hover {
  background-color: #5daddd;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-6 {
  background-color: #96a89c;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-6:hover {
  background-color: #b2bfb6;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-7 {
  background-color: #eeb11e;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-7:hover {
  background-color: #f2c14d;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-8 {
  background-color: #ae8782;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-8:hover {
  background-color: #c2a5a1;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-9 {
  background-color: #604839;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-9:hover {
  background-color: #80604c;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-10 {
  background-color: #60b0af;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-10:hover {
  background-color: #82c1c0;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-11 {
  background-color: #6a141e;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-11:hover {
  background-color: #951c2a;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-12 {
  background-color: #9a857a;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-12:hover {
  background-color: #b0a097;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-13 {
  background-color: #b8d433;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-13:hover {
  background-color: #c7dd5d;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-14 {
  background-color: #8383a9;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-14:hover {
  background-color: #a1a1be;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-15 {
  background-color: #56a774;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-15:hover {
  background-color: #77b98f;
}
/* line 200, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-16 {
  background-color: #f68b67;
}
/* line 204, ../../app/assets/stylesheets/partials/_app.scss */
body .box.color-16:hover {
  background-color: #f9b097;
}
/* line 212, ../../app/assets/stylesheets/partials/_app.scss */
body .box.intro {
  background-image: url('../images/jet.jpg?1327243451');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
/* line 218, ../../app/assets/stylesheets/partials/_app.scss */
body .box.intro .boxContent {
  width: 80%;
  margin: 100px 5% 0 10%;
}
/* line 223, ../../app/assets/stylesheets/partials/_app.scss */
body .box.intro .boxContent .smallplane {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/smallplaneicon.png?1327243451');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 70px;
  height: 24px;
  margin-bottom: 10px;
}
/* line 227, ../../app/assets/stylesheets/partials/_app.scss */
body .box.intro .boxContent h1 {
  font-family: "SohoGothicBold";
  font-size: 10em;
  margin-bottom: 30px;
  text-transform: uppercase;
}
/* line 233, ../../app/assets/stylesheets/partials/_app.scss */
body .box.intro .boxContent p {
  font-family: "SohoRegular";
  font-size: 2em;
}
/* line 237, ../../app/assets/stylesheets/partials/_app.scss */
body .box.intro .boxContent .show_me {
  font-family: "SohoBold";
  text-decoration: none;
  color: black;
  background: white;
  padding: 10px 20px;
  font-size: 2em;
}
/* line 254, ../../app/assets/stylesheets/partials/_app.scss */
body .content {
  position: relative;
}
/* line 260, ../../app/assets/stylesheets/partials/_app.scss */
body .container, body .content, body .footprintPanes {
  width: 100%;
  height: 1000px;
}
