
.banner
  .dataPaneTitle HOMES
  .logoText 
    =link_to '1>99', '/'
  =link_to "", "javascript:;", :class=>"downArrow"
.box.intro.housing.color-1
  .boxContent
    .smallplane
    %h1 HOMES
    %p
      Do you have a $88M NYC crashpad? An 80,000 square foot beachhouse? A house bigger than the White House? If so, you are the 1%
    =link_to "Show me", "javascript:;", :class=>"show_me" 

.footPrintPanes
  -@new_footprints.each_with_index do |footprint,i|
    .box.offState{:class=>"color-#{i+2}", :style=>"height: #{footprint[:percentage_in_set]}%;", :"data-index"=>"#{i}"}
    
      %h1.name=footprint[:name]

.overlay.hide  
  .bg  
  .innerWrapper
    .front
   
    
.hide
  :plain
    <script type="text/jquery-tmpl" id="overlayBoxTmpl">
      <div class="box color-<%=color_index%>">
        <div class="<%=class_name%> sidebar"></div>
        <div class="boxContent">
          <h3 class="name"><%=name%></h3>
          <div class="datapoints">
            <div class="peopleIndex">
              <h4><%=people_equivalent%></h4>
              Average People
            </div>
            <div class="bio"><%=bio%></div>
          </div>
        </div>
      </div>
    </script>  
    
  #data
    =@new_footprints.to_json  

    
