@include blueprint-typography;
@import "compass/css3/box-shadow";
@import "compass/utilities/text/replacement";
@import "compass/css3/opacity";
@import "compass/css3";
  
@font-face {
	font-family: SohoGothicRegular;
	src: url('/fonts/SohoGothicStd-Regular.otf');
}
@font-face {
	font-family: SohoGothicBold;
	src: url('/fonts/SohoGothicStd-Bold.otf');
}
@font-face {
	font-family: SohoGothicUltra;
	src: url('/fonts/SohoGothicStd-Ultra.otf');
}
@font-face {
	font-family: SohoRegular;
	src: url('/fonts/SohoStd-Regular.otf');
}
@font-face {
	font-family: SohoBold;
	src: url('/fonts/SohoStd-Bold.otf');
}


.banner{
	padding: 10px;
	position: fixed;
	width: 100%;
  z-index: 100;
	.dataPaneTitle{
		font-family: "SohoGothicRegular";
		float:left;
		margin-left:20px;
		@include opacity(0);
	}
		
	.logoText{
		font-family: "SohoGothicBold";
		float:right;
		margin-right:20px;
		
		a {
		  color: white;
		  text-decoration: none;
		}
		
	}
	@include clearfix;
	background: black;
	color:white;
	font-weight: bold;
	font-size:2em;

  .downArrow{
    @include replace-text("downarrow.png");
    width: 40px;
    height:40px;
    margin:0 auto;
    @include box-shadow(#ddd 1px 1px 10px);
    display: block;
		@include opacity(0);
		cursor: pointer;
    &:hover{
      @include box-shadow(white 1px 2px 10px);
    }
  }
}

.hide{
  display: none;
}

.overlay{
  position: absolute;
  top: 60px;
  height:800px;
  width: 100%;

  .bg{
    background: black;
    height:100%;
    width: 100%;
    opacity:.4;
    z-index: 1;
    position: absolute;
  }
  .box{
    z-index: 2;
    position: relative;
    width: 1180px;
  }
  .innerWrapper{
    margin: 0 auto;
    width: 1180px;
  }
  .front{
    position:absolute;
  }
  
}




//MIXINS
@mixin flexDataBox(){
	//This is used to stylize individual data points.

	$flexDataBoxWidth: 100%;
	.container{
		width: 100%; 
	}
	.box{
		padding:0px 0;
		margin: 0;
		border-bottom: solid 1px #ccc;
		background: image-url("flexBoxBg.png") repeat-x;
		width: $flexDataBoxWidth;
		height: 700px;
		@include clearfix;
		.name{
				font-family: "SohoRegular";
		}
		
		
		h1,h2,h3,h4{color: white;}
		&.offState{
		  background: none;
  		cursor: pointer;
		  h1{
  		  margin: 34.5px 0 34.5px 30px;
  		}
		} 
		h3{
			
			font-size: 2em;
			margin: 20px 0 10px 0;

			border-bottom: solid 3px white; 
			padding-bottom: 10px;
		}
		.boxContent{
		 	color: white;
			float: left;
			width:800px;
			margin-left:20px;
			
			
			.bio{font-family: "SohoRegular";}
			
			.peopleIndex{
				background: image-url("plane_equal_icon.png") no-repeat left top;	
		    
		    padding-left: 220px;
		    width: 100%;
				height: 211px;
				font-size: 6em;
				font-family: SohoGothicRegular, sans;
				margin-bottom: 20px;
				
				h4{
					margin-bottom:0;
					line-height:1em;
					font-family: SohoGothicUltra, sans;
					
				}
		
			}
		}
		.datapoints{
			h4{
				font-family: "SohoGothicRegular";
			}
			
		}
		.sidebar{
	    float: left;
	    height: 100%;
	    width: 337px;
	    
		  $zippedPeople: billgates "billgates.jpg", bobdylan "bobdylan.jpg", jerrybruckheimer "jerrybruckheimer.jpg", johntravolta "johntravolta.jpg", kochbrothers "kochbrothers.jpg", markcuban "markcuban.jpg", michaelbloomberg "mikebloomberg.jpg", morganfreeman "morganfreeman.jpg", oprah "oprahwinfrey.jpg", paulallen "paulallen.jpg", philknightnike "philknight.jpg", rupertmurdoch "rupertmurdoch.jpg", rushlimbaugh "rushlimbaugh.jpg", larrysergey "sergeyandlarry.jpg", stevejobs "stevejobs.jpg";
		  
		  
		  @each $zippedPerson in $zippedPeople {
		      &.#{nth($zippedPerson, 1)}{
  		     background-image: image-url("profile_pics/#{nth($zippedPerson, 2)}");
  		    }
		  }
		  
		  
		}
		
		// Box Colors
		$i: 1;
		@each $color in #000, #6BB34D, #595A5C, #BC2026, #3398D4, #96A89C, #EEB11E, #AE8782, #604839, #60B0AF, #6A141E, #9A857A, #B8D433, #8383A9, #56A774, #F68B67 {
			&.color-#{$i}{
				$bgColor: $color;
				background-color: $bgColor;		

				&:hover{
					background-color: lighten($bgColor,10);
				}
			}
			$i: $i + 1;
		}
		
		// Intro pane
		&.intro{
			background-image: image-url("jet.jpg");
			background-position: center;
			background-repeat: no-repeat;		
			
			color: white;
			.boxContent	{
			  
  			width:80%;
			  margin: 100px 5% 0 10%;			
			  
				.smallplane{
					@include replace-text-with-dimensions("smallplaneicon.png");
    			margin-bottom: 10px;
				}
				h1{
					font-family: "SohoGothicBold";
					font-size: 10em;
          margin-bottom: 30px;
          text-transform: uppercase;
				}
				p{
					font-family: "SohoRegular";
					font-size: 2em;
				}
				.show_me{
					font-family: "SohoBold";
					text-decoration:none;
					color:black;
					background: white;
					padding:10px 20px;
					font-size: 2em;
				}
			}	
		}
	}
	
}

  
body{
	@include flexDataBox;
	.content{
	  position:relative;
	}
	.footprintPanes{
    
	}
	.container, .content, .footprintPanes{
		width:100%;
		height: 1000px;
	}
}



